*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

a:hover {
    cursor: pointer;
}

a:focus {
    outline: none;
}

img,
object,
embed {
    max-width: 100%;
    height: auto;
}

object,
embed {
    height: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

div.contactbanner {
	margin-bottom: 20px;
}

div.contactbanner img {
	width: 100%;
	margin: 0 auto;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.hide {
    display: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

.alert {
	font-weight: bold;
	color: #d9084a;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

a {
    color: #008ca9;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
    line-height: 120%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2ba6cb;
}

h1 {
	font-size: 60px;
} 

h2 {
	font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
	font-size: 30px;
	line-height: 30px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 16px;
}

p, ul, ol, dl, blockquote, hr, pre, table, fieldset, article footer, nav {
    margin: 0 0 1.5em 0;
}

article ul {
    margin: 0 0 2em 2em;
    list-style: disc outside;
}

article ol {
    margin: 0 0 2em 2em;
    list-style: decimal outside;
}

article blockquote {
    margin: 0 0 1.25em 2.5em;
    font-family: cambria, georgia, times, serif;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f6f6f6;
    padding: 1.19em 1.25em 0;
    font-style: italic;
}

small {
    font-size: 0.6875em;
}

.wp-post-image,
img.alignright, 
img.alignleft, 
img.aligncenter {

}

a:hover .wp-post-image, a:focus .wp-post-image {

}

.alignleft {
    float: left;
    clear: left;
    margin: 0.38em 1.62em 0.38em 0;
}

.alignright {
    float: right;
    clear: right;
    margin: 0.38em 0 0.38em 1.62em;
}

.aligncenter {
    margin: 0 auto 1.62em;
    display: block;
}

.grid {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

	#header .grid {
		max-width: 1240px;
	}

.inner {
	padding: 0 10px;
	display: block;
}

.fc1 {
	color: #008ca9;
}

	 .page-title {
		margin-bottom: 30px;
	 }

.fc2 {
	color: #d9084a;
}

.fc3 {
	color: #a0a0a0;
}

.fc4 {
	color: #fff;
}

.fc5 {
	color: #333;
}

.bc1 {
	/*background-color: #008ca9 !important;*/
	background-color: #008ca9 !important;
}

.bc2 {
	background-color: #d9084a !important;
}

.bc3 {
	background-color: #f9f9f9 !important;
}

.bc4 {
	background-color: #fff !important;
}

.small-font {
	font-size: 12px;
}

.button {
	color: #fff !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-style: normal !important;
	font-size: 14px !important;
	line-height: 11px !important;

	position: relative;
	text-align: center !important;
	display: inline-block;
	border: none !important;
	outline: none !important;
	text-transform: uppercase !important;
	min-width: 120px !important;
	height: 30px !important;
	padding: 0 20px !important;
	border-radius: 3px !important;
	background-clip: padding-box !important;
	line-height: 30px !important;
	-webkit-appearance: none !important;
}

.button.bc2 {
	box-shadow: 0 4px #bf3f61 !important;
}

.button.bc2:hover {
	box-shadow: 0 2px #bf3f61 !important;
	top: 2px;
	color: #fff;
}

.button.bc2:active {
	box-shadow: 0 0 #bf3f61;
	top: 6px;
}

.social-icon {
	position: relative;
	width: 50px;
	height: 50px;
	display: table;
	border-radius: 100%;
	background-clip: padding-box;
	text-align: center;
	margin-right: 15px;
}

	.social-icon .inner-icon {
		display: table-cell;
		vertical-align: middle;
	}
	
.social-icon.bc4 {
	box-shadow: 0 4px #cecece;
}

	.social-icon.bc4:hover {
		box-shadow: 0 2px #cecece;
		top: 2px;
	}

	.social-icon.bc4:active {
		box-shadow: 0 0px #cecece;
		top: 0px;
	}

.no-border {
	border: none !important;
	padding: 0 !important;
}

.email, .phone {
	font-weight: 600;
}

.half {
	width: 50% !important;
}

.quarter {
	width: 33.33% !important;
}

.three-quarter {
	width: 66.66% !important;
}

.one-fourth {
	width: 25% !important;	
}

.four-fourth {
	width: 75% !important;
}

.one-fifth {
	width: 20% !important;
}

.five-fifth {
	width: 80% !important;
}

.seventh{
	width: 14.28571428571429% !important;
}

.two-seventh {
	width: 28.57142857142858% !important;
}

.full{
	width: 100% !important;
}

.center-content {
	display: table;
	height: 100%;
	width: 100%;
}

	.inner-center {
		display: table-cell;
		vertical-align: middle;
	}
	
.seo-title {
	display: none !important;
}

.creator {
	font-family: Georgia;
	font-weight: bold;
}

.shipping-calculator-form .button {
    box-shadow: 0 4px #bf3f61 !important;
  background-color: #d9084a !important;
  position: relative !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: 600;
  border: none !important;
  outline: none !important;
  text-transform: uppercase !important;
  height: 30px !important;
  border-radius: 3px !important;
  background-clip: padding-box !important;
  line-height: 30px;
  -webkit-appearance: none !important;
  color: #fff !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: normal !important;
	width: 100%;
	float: none;
	display: block;
}

.maat-holder.contact-form .wpcf7-response-output{
	overflow:inherit !important;
}
.maat-holder.contact-form .screen-reader-response{
	display: none;
}