/* ----------------------------------------------------------------
    FONTS
---------------------------------------------------------------- */

@font-face {
    font-family: 'Georgia_Bold';
    src: url('../fonts/Georgia_Bold.eot');
    src: url('../fonts/Georgia_Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Georgia_Bold.woff') format('woff'),
         url('../fonts/Georgia_Bold.ttf') format('truetype'),
         url('../fonts/Georgia_Bold.svg#georgia_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}