/* Scrolldown */

.ie8 .scrolldown,
.ie9 .scrolldown {
	
	background-image: url(../images/ui/scrolldown-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.ie8 .scrolldown:before,
.ie9 .scrolldown:before,
.ie8 .scrolldown:after,
.ie9 .scrolldown:after {
	border: none;
}

/* homepage */

.ie8 .top-links li a {
	font-size: 13px;
}

.ie8 .flex-direction-nav .flex-next {
right: -30px;
}

.ie8 .flex-direction-nav .flex-prev {
left: -30px;
}

.ie8 .page-list .image-round .inner-round,
.ie8 .page-list .image-round {
	behavior: url(http://detol.wcarrot.nl/wp-content/themes/tol_2014/js/support/pie.htc);
}

.ie8 .button-holder.half,
.ie9 .button-holder.half {
width: 100% !important;
}

.ie8 .button {
	border-radius: 0px;
	behavior: url(http://detol.wcarrot.nl/wp-content/themes/tol_2014/js/support/pie.htc);
}

.ie8 .footer-column li,
.ie8 .newsletter-holder {
font-size: 12px;
}

.ie8 .quarter.left img,
.ie9 .quarter.left img {
width: 100%;
}

.ie8 #mc_embed_signup .mc-field-group input[type="email"] {
	width: 100% !important;
}

.ie8 #mc-embedded-subscribe {
	width: 100% !important;
	float: right;
}


.ie8 .linkimage a img,
.ie9 .linkimage a img {	width: 100%;
	max-width: 80%;
	height: auto;
}

.linkimage a img {
	width: 85%;
}


.ie8 .main-cat,
.ie8 .variations label,
.ie8 .newsletter-holder p {
	font-size: 13px;
}

.ie8 p{
font-size: 18px;
}

.ie8 .woocommerce table.shop_table,
.ie8.woocommerce-page table.shop_table {
border: 1px solid #e6e6e6;
}

.ie8 .woocommerce table.shop_table td,
.ie8 .woocommerce-page table.shop_table td {
border-top: 1px solid #e6e6e6;
}

.ie8 .price .amount {
	font-size: 30px;
}

.ie8 #coupon_code {
line-height: 18px !important;
}

.ie8 .qty {
		line-height: 30px !important;
}