/* ----------------------------------------------------------------
    LAYOUT
---------------------------------------------------------------- */

html {
    font: 62.5% 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #fff;
}

body {
    text-align: left;
    color: #333;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    position: relative;
}

#main {
    overflow: hidden;
    clear: both;
    background-image: url(../images/ui/gradient-products.png);
    background-repeat: repeat-x;
    background-position: top left;
    /*
max-width: 1240px;
	margin: 0px auto;
*/
}

#content.news, #map-container {
    max-width: 1240px;
    margin: 0px auto;
}

/* ----------------------------------------------------------------
    FOOTER
---------------------------------------------------------------- */

#footer {
    position: relative;
    overflow: hidden;
    clear: both;
    padding: 35px 0px 15px 0;
}

.footer-column {
    width: 33.33%;
    float: left;
    color: #fff;
}

.footer-column li a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}

.social-li {
    height: 30px;
    background-color: #fff;
    display: inline-block;
    width: 30px !important;
    border-radius: 50% 50%;
}

.social-li a {
    width: 30px;
    height: 30px;
    margin-right: 0;
    float: none;
    text-align: center;
    display: block;
    line-height: 26px;
}

.social-li a img {
    height: 60%;
}

/*	.footer-column.first {
		padding-right: 50px;
	}*/

.footer-column h4, .footer-column h5 {
    color: #fff;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column li {
    display: inline-block;
    margin: 0 2px;
    width: 100%;
}

.footer-margin {
    margin: 22px 0 0 0;
}

/* newsletter */
.newsletter-holder h4 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
}

.mc-field-group {
    position: relative;
}

.newsletter-holder p {
    margin: 0 0 10px 0;
}

#mc_embed_signup {
    width: 100%;
}

#mc_embed_signup .mc-field-group input[type="email"] {
    width: 57%;
    height: 33px;
    color: #b5b5b5;
    float: left;
}

#mc_embed_signup .mc-field-group input[type="text"] {
    color: #b5b5b5;
    height: 33px;
}

#mc_embed_signup .mc-field-group #mc-embedded-subscribe {
    /*position: absolute;*/
    height: 30px;
    line-height: 11px;
    /*right: -20px;*/
    font-size: 12px;
    font-weight: 400;
    width: 35%;
    float: right;
}

.link-container {
    margin: 20px 0;
    position: relative;
    float: left;
    width: 100%;
}

.link-container ul {
    margin: 0;
    list-style: none;
}

.footer-links {
    margin-top: 20px;
}

.footer-links header {
    margin-bottom: 5px;
}

.footer-links ul {
    margin: 0;
    list-style: none;
}

.footer-links article {
    margin-bottom: 20px;
}

.footer-links article h5 {
    font-size: 16px;
    font-weight: 400 !important;
}

.footer-links a {
    color: #a0a0a0;
    font-size: 13px;
    font-weight: 100;
}

.creator {
    float: right;
    margin: 0 5px 0 0;
}

.creator a {
    font-size: 12px;
    font-family: 'Georgia_Bold';
    color: #fff;
}

#footerbottom p {
    float: left;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.back-top {
    width: 44px;
    height: 44px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
}

.back-top .grid {
    position: relative;
    height: 100%;
    padding: 0;
}

.back-top .grid:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 14.3px 12px;
    border-color: transparent transparent #e20079 transparent;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -12px;
}

.back-top .grid:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 14.3px 12px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -12px;
}

.footer-bottom {
    margin: 10px 0;
    position: relative;
    float: left;
    width: 100%;
}

.footer-bottom .grid {
    padding-top: 10px;
    border-top: 1px solid #d9d9d9;
}

/* ----------------------------------------------------------------
    HEADER
---------------------------------------------------------------- */

#header {

}

#header #top-header {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
}

#header #logo {
    position: absolute;
    top: -200px;
    left: 20px;
    z-index: 12;
    /*box-shadow: 0 4px 8px rgba(13,14,14,.23);*/
    width: 130px;
}

#header #logo img {
    max-width: 100%;
    max-height: initial !important; /* Fix possible override */
}

#header #bottom-header {
    position: relative;
    float: left;
    width: 100%;
    height: 55px;
    z-index: 5;
}

.top-links ul {
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}

.top-links .search-bar {
    float: right;
    margin-left: 20px;
}

.top-links .form-search {
    margin-top: 7px;
    margin-bottom: 0;
    position: relative;
    height: auto;
}

.top-links .form-search:after {
    line-height: 33px;
}

.top-links .form-search input {
    height: 35px;
    width: 190px;
}

.top-links li {
    margin: 0 5px;
    display: inline-block;
    line-height: 28px;
}

.top-links__item--facebook {
    width: 20px;
    height: 20px;
    line-height: 19px !important;
    background-color: #fff;
    border-radius: 50% 50%;
    text-align: center;
}

.top-links__item--facebook .facebook {
    margin-right: 0 !important;
    float: none !important;
}

.top-links__item--facebook .facebook img {
    height: 70%;
    position: relative;
    margin-top: -1px;
}

.top-links li:last-child {
    margin: 0 0 0 5px;
}

.telephone:before, .email:before {
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 6px;
    float: left;
}

.telephone:before {
    margin-top: 3px;
    content: url('../images/ui/telicon.png');
}

.email:before {
    margin-top: 2px;
    content: url('../images/ui/mailicon.png');
}

.facebook {
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 6px;
    float: left;
    text-align: center;
}

.facebook img {
    height: 100%;
}

.shopping-cart {
    margin-top: 10px;
    margin-left: 10px;
}

/* ----------------------------------------------------------------
    NAVIGATION
---------------------------------------------------------------- */

#main-nav {
    position: relative;
}

#main-nav ul {
    padding: 0;
    margin: 0;
}

#main-nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

#main-nav ul li a {
    display: block;
    color: #a0a0a0;
    font-size: 17px;
    font-weight: 400;
    border-top: 6px solid transparent;
    padding: 12px 0 19px 0;
}

/* #main-nav ul li ul {
    left: -999em;
    top: 0;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    margin: 2.5em 0 0 0 !important;
    padding: 0 !important;
    line-height: 1em;
} */


.sub-menu {
    position: absolute;
    top: 100%;
    display: none;
    left: 0;
    z-index: 9999;
    width: 200px;
    background-color: #f9f9f9 !important;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.sub-menu li {
    position: initial !important;
    z-index: 9999;
    width: 100%;
    margin: 0 !important;
}

.sub-menu li a {
    border-top: 1px solid #dbdbdb !important;
    padding: 10px 6px !important;
    margin: 0 10px;
}

.sub-menu li a:hover {
    color: #fff;
}

.sub-menu li:first-child a {
    border: none !important;
}

#main-nav ul li:hover .sub-menu {
    display: block;
}

#main-nav ul li.current_page_item a {
    color: #e9124a;
    border-top: 6px solid #e9124a;
}

#main-nav ul li a:hover {
    color: #008ca9;
}

.mob-logo {
    position: absolute;
    right: 8px;
    top: 0;
    width: 75px;
    max-height: initial !important;
}


/* ----------------------------------------------------------------
    BACKGROUND
---------------------------------------------------------------- */

#background-container {
    position: relative;
    /* float: left; */
    width: 100%;
    /* margin: 0 0 60px; */
    /* min-height: 330px; */
    max-width: 1240px;
    margin: 0 auto;
    height: auto;
    max-height: 472px;
    z-index: 1;
}

.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
    z-index: 2;
}

#page-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 485px;
    overflow: hidden;
    max-width: 1240px;
    margin: 0px auto;
    /*margin-bottom: 20px;*/
    /*min-height: 330px;*/
}

#page-container li {
    /* max-height: 485px; */
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

#page-container img {
    width: 100%;
}

.background-content {
    position: absolute;
    bottom: 105px;
    left: 280px;
    color: #008ca9;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.background-content span {
    display: block;
    margin-left: 80px;
}

#map-container {
    margin-bottom: 20px;
}

#mainbanner img {
    width: 100%;
    height: auto;
    max-height: 372px;
}

/* ----------------------------------------------------------------
    SOCIAL HOLDER
---------------------------------------------------------------- */

.social-holder {
    position: fixed;
    width: 65px;
    height: 130px;
    top: 50%;
    margin-top: -65px;
    right: 0;
    z-index: 12;
}

.social-holder ul {
    -webkit-perspective: 800px;
    perspective: 800px;
}

.social-holder li {
    width: 100%;
    height: 65px;
    display: table;
    float: right;

    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
}

.social-holder li.open {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.social-holder li img {
    display: table-cell;
    margin: 0 auto;
    height: 65px;
}

/* ----------------------------------------------------------------
    HOME
---------------------------------------------------------------- */

.home-content {
    padding: 30px 0;
}

.home-content .one-fifth {
    padding-right: 40px;
}

.home-text {
    line-height: 28px;
    letter-spacing: 1.5px;
    text-align: justify;
    margin-top: 22px;
}

.button-holder {
    margin-top: 15px;
    text-align: right;
}

.button-holder .button {
    min-width: 131px;
}

.button-holder .button.first {
    margin-right: 10px;
}

.behind-text .center-content {
    min-height: 455px;
    height: 455px;
}

.behind-text h2 {
    margin-bottom: 20px;
}

.scrolldown {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    color: #fff;
    z-index: 999;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}

.scrolldown:before, .scrolldown:after {
    border-right: 2px solid;
    content: '';
    display: block;
    height: 15px;
    margin-top: -10px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 50%;
    width: 12px;
}

.scrolldown:after {
    margin-left: -4px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.behind-text {
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 545px;
    position: relative;
    float: left;
    padding: 45px 0;
}

#home-slider-product .product-image-inner {
    height: 230px;
    text-align: center;
}

#home-slider-product .product-image-inner img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

/* ----------------------------------------------------------------
    DEFAULT STYLING
---------------------------------------------------------------- */

.area {
    padding-bottom: 25px;
    padding-top: 25px;
    /*	margin-bottom: 50px;*/
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    float: left;
    width: 100%;
}

.area.text-left .three-quarter, .padding.text-left .three-quarter {
    padding-right: 40px;
}

.area.text-right .three-quarter {
    padding-left: 40px;
}

.area p {
    font-size: 20px;
    line-height: 30px;
}

.area ul {
    font-size: 20px;
    line-height: 30px;
}

.contactpage {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.contact-column {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
}

.contact-column h4, .contact-form h4 {
    margin-bottom: 5px;
}

.contact-form .three-quarter {
    padding-left: 20px;
}

.maat-holder textarea {
    height: 141px;


}


.wpcf7-text, .wpcf7-textarea, .wpcf7-captchar {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-clip: padding-box;
    outline: none;
    color: #444;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.wpcf7-textarea {
    height: 189px;
}

.wpcf7-captchac {
    float: left;
    margin-top: 5px;
}

.wpcf7-captchar {
    width: 33.333%;
    height: 34px;
}

.category-grid ul {
    list-style-type: none;
    margin: 0;
}

.category-grid .item {
    height: 235px;
    overflow: hidden;
}

.category-grid .item .sale-banner {
    position: absolute;
    top: 15px;
    left: 15px;
}

.category-grid .item img {
    max-width: none;
}

.category-grid .item.half.first {
    padding-right: 7px;
}

.category-grid .item.half.last {
    padding-left: 7px;
}

.category-grid .linkimage {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    height: 235px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.category-grid .linkimage a {
    font-size: 20px;
    margin-bottom: 5px;
}

/* .templ-webshop .category-grid .linkimage { height: 305px !important; } */
.templ-webshop .category-grid .img-title {
    padding: 16px 20px;
}

.templ-webshop .category-grid .img-title h4 {
    font-size: 28px;
}

.linkimage a img {
    height: auto !important;
    max-height: 174px;
    max-width: 100% !important;
    padding: 12px 12px 6px 12px;
}

.seventh .linkimage a img {
    /* max-width: 152px !important; */
}

.linkimage a .imageSize {
    height: 174px;
    position: relative;
    display: table;
    width: 100%;
}

.linkimage a .imageSize span {
    display: table-cell;
    vertical-align: middle;
}

.linkimage a .imageSize span img {
    margin: 0px auto;
}


.category-grid .item.seventh {
    padding: 0 7px;
    margin-bottom: 20px;

}

.category-grid .item.seventh a {
    color: #e3007a;
    font-weight: 300;
}

.category-grid .two-seventh li {
    padding-right: 7px;
    margin-bottom: 20px;
}

.category-grid .two-seventh li a {
    color: #008ca9;
}

.category-grid .item.seventh.last {
    padding-left: 7px;
    padding-right: 0px;
}

.page-list {
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    text-align: center;
}

.page-list li {
    float: left;
    width: 25%;
    padding: 0 12px;
    margin-bottom: 20px;
}

.page-list .image-round {
    width: 63%;
    padding-bottom: 63%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    background-clip: padding-box;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    max-height: 170px;
    /*display: block;
    margin: 0 auto 20px;
    cursor: pointer;
    width: 63%;

    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: #fff;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;*/
}

.image-round .fc1 {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top: -12px;
    color: #fff;
    font-weight: bold;
    -webkit-text-shadow: 1px 1px 0px black;
    -moz-text-shadow: 1px 1px 0px black;
    -ms-text-shadow: 1px 1px 0px black;
    -o-text-shadow: 1px 1px 0px black;
    text-shadow: 1px 1px 0px black;
}

.image-round:hover, .image-round.active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 9px rgba(13, 14, 14, 0.13);
}

.page-list .image-round .inner-round {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-clip: padding-box;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.page-list .image-round img {
    height: 100% !important;
    width: auto !important;
    max-width: none;
}

.home-products-holder {
    position: relative;
    width: 100%;
    padding-top: 30px;

}

.home-products-holder > .grid > header {
    padding: 30px 0 20px;
}

.hidden-content {
    position: relative;
    float: left;
    width: 100%;
    margin: 60px 0 20px;
    visibility: hidden;
    display: none;
}

.hidden-content .home-content-product {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.home-content-product ul {
    margin: 0;
    padding-left: 20px;
}

.hidden-content .first {
    padding-right: 50px;
}

.hidden-content .quarter {
    text-align: center;
    padding-top: 20px;
}

.hidden-content header {
    margin: 20px 0;
}

.hidden-content .no-video {
    display: none;
}

.hidden-content .video-holder.play {
    cursor: pointer;
    position: relative;
}

.hidden-content .video-holder.play::after {
    position: absolute;
    content: '\25BA';
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 100%;
    font-size: 40px;
    color: #e9124a;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.55);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.hidden-content .video-holder.play:hover::after {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.half.video-holder {
    padding-top: 20px;
    clear: left;
}

.home .label-swing {
    display: block;
}

.label-swing {
    display: none;
    position: absolute;
    top: 90px;
    right: 85px;
    width: 113px;
    z-index: 8;
}

.label-swing .pin {
    background-image: url(../images/ui/pin.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: -20px;
    right: 32px;
    width: 29px;
    height: 35px;
    z-index: 9;
}

.label-swing img {
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation: swing 3s infinite ease-in-out;
    -webkit-transform-origin: top;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

@-moz-keyframes swing {
    0% {
        -moz-transform: rotate(-3deg)
    }
    50% {
        -moz-transform: rotate(3deg)
    }
    100% {
        -moz-transform: rotate(-3deg)
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-3deg)
    }
    50% {
        -webkit-transform: rotate(3deg)
    }
    100% {
        -webkit-transform: rotate(-3deg)
    }
}

#background-container .grid.static {
    position: static;
    z-index: 5;
}

#background-container header {
    margin-bottom: 20px;
}

#background-container header h2 {
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.search-holder {
    max-width: 1200px;
    position: absolute;
    top: 50%;
    margin-top: -85px;
    z-index: 12;
    margin-left: 80px;

}

.search-holder .form-search input {
    border: 2px solid #e9124a;
}

.woocommerce-breadcrumb {
    margin-top: 25px !important;
}

.actie-list {
    margin: 0;
    list-style: none;
    margin-bottom: 50px;
}

.actie-list .quarter img {
    width: auto !important;
    max-width: 100%;
}

.inner-actie ul {
    /*list-style: none;*/
    list-style-position: inside;
    margin: 0 0 50px 0;
    float: left;
}

.actie-list li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}

.inner-actie {
    display: table;
    height: 350px;
}

.inner-actie .inner-inner-actie {
    display: table-cell;
    vertical-align: middle;
}

.inner-actie {
    font-size: 18px;
    line-height: 35px;
}

/* ----------------------------------------------------------------
    PRODUCTS
---------------------------------------------------------------- */


#product-page {
    padding-top: 20px;
}

#product-page .image-round:hover img, #product-page .image-round.active img {
    opacity: 0.7;
}

#product-page .page-list li {
    margin-bottom: 0;
}

.col-left {
    float: left;
    width: 20%;
}

.col-left .inner-col {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 20px;
}

.inner-col .inner {
    padding: 30px 20px 0px;
}

.col-left h3 {
    margin-bottom: 20px;
}

.cat-navigation ul {
    list-style-type: none;
    margin: 0;
}

.cat-navigation ul ul {
    display: none;
}

.main-cat.selected ul {
    display: block;
}

.main-cat.selected > a {
    color: #008ca9;
}

.main-cat.selected .triangle {
    border-width: 8.7px 5px 0 5px;
    border-color: #e9124a transparent transparent transparent;
}

.main-cat ul li a {
    padding-left: 20px;
}

.main-cat ul li.selected a {
    color: #bf3f61;
}

.cat-navigation li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cat-navigation li span.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #e9124a;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
}

.col2-left-layout .col-main {
    float: right;
    width: 80%;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 20px 15px 50px 15px !important;
    position: relative;
}

.archive-product ul.products li.product, .archive-product ul.products li.product {
    padding: 20px 15px 50px 15px !important;

}


.woocommerce ul.products li.product .button, .woocommerce-page ul.products li.product .button {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
}

.woocommerce ul.products li.product .button:hover, .woocommerce-page ul.products li.product .button:hover {
    top: auto;
    bottom: 18px;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
    background: #e9124a !important;
    height: 55px !important;
    width: 55px !important;
    top: 5 !important;
    right: 5 !important;
    margin: 0 !important;
    padding: 12px 0 0 0 !important;
    z-index: 2;
    border-radius: 50% 50% !important;
}

.col2-left-layout .col-main .button {
    display: block;
    width: 100%;
}

.slider-price {
    padding: 4px 0;
    min-height: 50px;
}

.slider-price span.big {
    font-size: 23px;
    font-weight: 600;
}

.slider-price span.big del, .summary .price del {
    font-size: 13px !important;
    display: block;
    color: #333 !important;
    margin-top: 0px;
    float: left;
}

.slider-price span.big del .amount, .summary .price del.amount {
    font-size: 13px;
}

.slider-price span.big ins, .summary .price ins {
    display: block;
}

.slider-price span.big del, .summary .price del, .slider-price span.big ins, .summary .price ins {
    display: block !important;
    width: 100% !important;
}

.slider-price del {
    color: #000 !important;
}

.slider-price ins {
    color: #008ca9 !important;
}

.slider-price .amount {
    color: #008ca9 !important;
}

.woocommerce .pdf-upload {
    width: 100%;
    text-align: right;
    margin-top: 0 !important;
}

.variations_form, .variations {
    width: 100%;
    float: left;
}

.variations_form {
    margin: 15px 0 25px 0 !important;
}

.product-name {
    border-top: 1px solid #d9d9d9;
    min-height: 30px;

}

td.actions {
    margin-top: 30px;
}

.slider-holder, .slider-holder .flex-viewport {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.slider-holder .slides {
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
}

.slider-holder li.item {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 25px 20px;
    width: 25%;
    min-height: 400px;
    margin-right: 15px;
}

.product-image {
    width: 100%;
    /*height: 180px !important; */
    min-height: 180px;
    margin: 0 0 10px;
    display: block !important;
    /* overflow: hidden; */
}

.product-image img {
    max-height: 180px;
    width: auto !important;
    margin: 0px auto;
}

.product-image .product-image-inner {
    display: block !important;
    height: 100% !important;
    position: relative;
}

.product-image .product-image-inner img {
    max-height: 140px !important;
    width: auto !important;
    margin: auto;
    /* position: absolute;
    top: 0;right: 0;bottom: 0;left: 0; */
}

.slider-holder .product-name {
    min-height: 80px;
}

/* ----------------------------------------------------------------
    WOOCOMMERCE ALERTS
---------------------------------------------------------------- */

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
    padding: 20px 10px !important;
    margin: 0 0 2em !important;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 0px 0px 4px 4px;
    background: #f9f9f9 !important;
    color: #333 !important;
    text-shadow: none !important;
    list-style: none outside !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
    line-height: 24px !important;
    width: auto;
}

.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
    background-color: #e20079 !important;
    line-height: 0px !important;
    float: left !important;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
    border-top: none !important;
}

.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before {
    line-height: 0 !important;
}

/* ----------------------------------------------------------------
    INSPIRATION
---------------------------------------------------------------- */

#news-content .post .inner, #news-content-actual .post .inner {
    padding: 15px;
}

.news-post {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

/**** Isotope filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

#news-content, #news-content-actual {
    width: 101%;
    float: left;
    min-height: 800px;
}

.box, #news-content .post, #news-content-actual .post {
    float: left;
}

.news-holder {
    margin-left: -12px;
    margin-bottom: 15px;
}

.news-holder article.regular {
    width: 24.9%;
    float: left;
}

.news-holder article {
    padding-left: 15px;
    padding-top: 15px;
}

.news-holder article img {
    width: 100%;
    max-width: inherit;
}

.news-holder article.featured {
    width: 49.9%;
    float: left;
}

.article-holder {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.article-icon {
    width: 54px;
    height: 64px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-size: contain;
    background: url(../images/ui/tolwhite.png);
}


/* WOOCOMMERCE EXTRAS */


/* Variaties */

.variation p,
.variation dt {
    line-height: 20px !important;
    font-size: 14px !important;
}

/* 
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
padding: 0;
}

.product-name {
padding: 20px  0 !important;
} */

.cart-item table td {
    padding: 6px 12px !important;
}

.variation {
    margin: 0 !important;
    padding: 0 !important;
}


.variations tr td {
    padding-bottom: 20px;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    font-size: 15px;
}

.woocommerce h2,
.woocommerce h3 {
    font-size: 25px;
}


.woocommerce h2 {
    margin-bottom: 15px;
}

.bacs_details {
    /*background-color: #008ca9;*/
    /*width: 100%;*/
    /*float: left;*/
    margin: 20px 0 0 0 !important;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;
}

.bacs_details h3 {
    font-size: 25px;
    margin: 20px 0 20px 0;
}

.bacs_details li {
    padding-top: 1em;
}


/* Shoppage */

.woocommerce table.shop_attributes th, .woocommerce-page table.shop_attributes th {
    vertical-align: middle;
}

.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    text-align: left;
}

/* Customer details */

.customer_details {
    font-size: 16px;
}

.customer_details dt {
    font-weight: bold;
}

.customer_details dd {
    margin-bottom: 20px;
}

.addresses p {
    font-size: 15px !important;
    line-height: 20px;
}

.woocommerce table.shop_table th.product-name, .woocommerce-page table.shop_table th.product-name {
    border: none;
    font-size: 17px;
}

.shop_table.order_details,
.woocommerce table.shop_table tfoot td,
table.shop_table tfoot th,
.shop_table a {
    font-size: 13px;
    font-weight: 300 !important;
}

.payment_box p {
    font-size: 13px !important;
    line-height: 20px;
}

.checkout-alert {
    font-size: 14px !important;
}

/* ----------------------------------------------------------------
	WEBSHOP
------------------------------------------------------------------*/

.page-id-26 h2, .page-id-27 h2 {
    text-align: center;
}

.page-id-27 .woocommerce .woocommerce-info {
    border-top: 10px solid #e10955;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 6px 3px -5px rgba(50, 50, 50, 0.20) !important;
    -moz-box-shadow: 0px 6px 3px -5px rgba(50, 50, 50, 0.20) !important;
    box-shadow: 0px 6px 3px -5px rgba(50, 50, 50, 0.20) !important;
}

.page-id-27 .woocommerce .woocommerce-info:before {
    background-color: #e10955 !important;
}

a.showcoupon {
    color: #e10955 !important;
}

#order_review {
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 25px;
}

#reviews {
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    padding: 20px;
    margin-bottom: 50px;
}

.woocommerce-tabs li {
    list-style: none !important;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    /*border: 0 !important;*/
}

.page-id-27 .order-total {
    border-bottom: 1px solid #e6e6e6;
}

#order_review .col-1 {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

#order_review .col-2 {
    width: 100%;
}

.thankyoubold {
    font-weight: bold;
    font-size: 14px;
}

.woocommerce #payment, .woocommerce-page #payment {
    border: 0 !important;
}