@media only screen and (max-width: 1400px) {

	#logo{ width: 100px; }

	.label-swing{ width: 75px; right: 90px; }
	.label-swing .pin{
		right: 25px;
		top: -10px;
		background-size:cover;
		width: 20px;
		height: 20px;
	}

	.search-holder header h2{
		font-size: 27px;
	}

	#background-container{
		margin-bottom: 25px;
	}

}

@media only screen and (max-width: 1300px) {
	/*Homepage menu slider fix*/
	.search-holder {
		width: 730px;
		max-width: 60%;
		left: 80px;
	}

	.back-top {
		top: initial;
		bottom: 10px;
	}

	#footer{
		padding-bottom: 80px;
	}
}

@media only screen and (max-width: 1240px) {
	#news-content, #news-content-actual{
		width: 100%;
	}
	
	#header #logo{
		left: 10px;
	}
}

@media only screen and (max-width: 1240px) {
	.grid {
		padding: 0 20px;
	}
	
	.behind-text .grid {
		padding: 0 50px;
	}
	
	.flex-direction-nav .flex-next {
		right: -15px;
	}
	
	#mc_embed_signup .mc-field-group input[type="email"] {
		width: 60%;
	}
	
	#mc_embed_signup .mc-field-group #mc-embedded-subscribe {
		width: 40%;
		min-width: 0;
		text-align: center;
	}
	
	.half.button-holder {
		width: 100% !important;
	}
}

@media only screen and (max-width: 1180px) {
	
	.background-content{
		left: 300px;
		bottom: 70px;
	}
	
	.one-fifth{
		width: 33.33% !important;
		width: calc(100%/3) !important;
	}

	.five-fifth{
		width: 66.66% !important;
		width: calc(100%/3*2) !important;
	}

/* ----------------------------------------------------------------
    HOME
---------------------------------------------------------------- */

.inner-center .half{ width: 100% !important; text-align: right; }
	.inner-center .half .button.left, .inner-center .half .button.right{ float: none !important;}
}

@media only screen and (max-width: 980px) {

	#footer .footer-column{ width: 50% !important; }
		#footer .footer-column .quarter{ width: 100% !important; }
			/*#footer .footer-column .quarter .half{ width: 100% !important; }*/
		
	
	#main-nav ul li {
		margin:0 5px;
	}
	
	#main-nav ul li a {
		font-size: 14px;
	}
	
	.home .label-swing {
		top: 85px;
	}
	
	#mc_embed_signup .mc-field-group input[type="email"],
	#mc_embed_signup .mc-field-group #mc-embedded-subscribe {
		width: 100%;
	}
	
	.item.seventh {
		width: 17.85714285714286% !important;
	}

}

@media only screen and (max-width: 800px) {

	.page-list .image-round{
		padding-bottom: 85%;
		width: 85%;
	}
}

@media only screen and (max-width: 870px) {
	
	.label-swing {
		right: 60px;
	}
	
	/* ----------------------------------------------------------------
    CONTACT
---------------------------------------------------------------- */

.contactpage .half{ width: 50% !important; text-align: center; }
	.contactpage .half > .half{ width: 100% !important; }	

.contact-form .three-quarter { padding-left: 0 !important; }

.contact-form .quarter,
.wpcf7-textarea,
.contact-form .three-quarter {
	width: 100% !important;
}

.wpcf7-captchac {
	margin: 0 auto 10px auto;
    display: block;
	float: none;
}
.home .wpcf7-captchar {
	width: 100%;
}

.home input[type="submit"].button {
	width: 100%;
}

.home .woocommerce #main ul.products li.product, #main .woocommerce-page ul.products li.product {
	width: 31%;
}

}


@media only screen and (max-width: 768px) {

/* ----------------------------------------------------------------
    CLASSES
---------------------------------------------------------------- */

	.slick-slider .slick-nav-custom { display: none !important; }

	/* FONTS */
	h1{ font-size: 35px; text-align: center; }
	h2{ font-size: 28px; text-align: center; }
	h3{ font-size: 25px; text-align: center; }
	h4{ font-size: 22px; text-align: center; }
	h5{ font-size: 19px; text-align: center; }
	p, ul,
	.area p,
	.area ul { 
	font-size: 15px;
	line-height: 21px;	}
	
	p,
	.actie-list li, 
	.area ul {
		text-align: center; 
	}
	
	.area ul {
	list-style-position: inside;
	}

	td p{ text-align: left; }
	
	/* divs */
	.half{ width: 100% !important; }
		.category-grid .item.half.first, .category-grid .item.half.last, .category-grid .item.quarter.first, .category-grid .item.quarter, .category-grid .item.quarter.last{ padding-left: 0; padding-right: 0; }

	.one-fifth{	width: 100% !important; }
	.five-fifth{ width: 100% !important; }
	.three-quarter{ width: 100% !important; }
	.quarter{ width: 100% !important; text-align: center; }
	.grid{ width: 90%; margin-left: 5%;}

	.text-center .button{ text-align: center !important; }	
	.area{padding-bottom: 20px; margin-bottom: 20px; padding-left: 0 !important; padding-right: 0 !important;}
		.home-content .one-fifth, .area.text-right .three-quarter, .area.text-left .three-quarter{ padding-left: 0; padding-right: 0; }
	
	.button{ width: 45%; }

	.quarter img{max-width: 50%; margin: 10px 0;}
	
	html, body { min-height: 100%; }
	
	.main-header {
		background: #008ca9;
		padding: 0px;
		text-align: center;
		color: white;
		position: fixed;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: 10;
		transition: all 0.3s ease;
		height: 50px;
		line-height: 50px;
	}
	
	.main-header h1 {
		font-size: 1em;
		margin: 0;
		color: white;
	}
	
	.main-header a {
		position: absolute;
		left: 12px;
		top: -3px;
		color: white;
		font-size: 30px;
	}
	
	.mobile-menu-holder {
		height: 50px;
		float: right;
		width: 100%;
		transition: width 0.3s ease;
	}

	.mobile-menu-holder .search-bar {
		float: right;
		position: relative;
		z-index: 30;
		margin-right: 100px;
	}

	.mobile-menu-holder .search-bar .form-search:after {
		margin-top: 3px;
	}

	.mobile-menu-holder .search-bar .form-search input {
		height: 35px;
		margin-top: 8px;
		line-height: 25px;
	}
	
	#mobile-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #f9f9f9;
		/*-moz-box-shadow: 0 0 3px rgba(0,0,0,.28);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.28);*/
		box-shadow: 0 2px 3px rgba(0,0,0,.28);
		overflow-y: auto;
		transition: width 0.3s ease;
		z-index: 100;
	}
	
	#mobile-nav ul {
		padding: inherit;
		background-color: inherit;
		overflow: inherit;
		zoom: inherit;
		margin: inherit;
	}
	
	#mobile-nav ul li {
		float: inherit;
		margin-right: inherit;
		position: inherit;
		margin-left: inherit;
	}
	
	.mobile-nav a {
		display: block;
		color: #a0a0a0;
		padding: 15px;
	}

		.mobile-nav a:hover{
			background-color: #edf6fa;
			/*border-right: 6px solid #008ca9;*/
		}

		#main-nav .current-menu-item,
		#main-nav .current_page_item{
			background-color: #f5e3ed;	
			border-right: 6px solid #e10955;
		}
	
	
	.content {
		padding: 100px 20px 20px 20px;
	}
	
	.close-menu {
		display: none;
	}
	
	#mobile-nav.open {
		width: 220px;
		overflow-y: none;
		-webkit-overflow-scrolling: touch;
	}
	
	.mobile-menu-holder.open .main-header {
		left: 220px;
	}
	
	.mobile-menu-holder.open .open-menu {
		display: none;
	}
	
	.mobile-menu-holder.open .close-menu {
		display: block;
	}

/* ----------------------------------------------------------------
    HEADER
---------------------------------------------------------------- */

#background-container .flex-direction-nav {
	display: none;
}

.flex-direction-nav .flex-next {
	right: -30px;
}

.flex-direction-nav .flex-prev {
	left: -35px;
}

.search-holder {
 left: 0 !important;
 margin-left : 0 !important;
 max-width: 100% !important;
 width: 100% !important;
padding: 0px 80px;
}

#page-container{ min-height: 0; }

#page-container li{background-position: left -80px center}

.background-content{ 
	font-size: 15px;
	position: relative;
	left: auto;
	bottom: auto;
	display: block;
	text-shadow: none;
	line-height: 20px;
	width: 100%;
	float: left;
	background-color: #008ca9;
	color: #fff !important;
	border-radius: 3px;
	margin-top: 20px;
	padding: 10px;
}

.background-content span{
	display: inline-block;
	margin-left: 0;
}

.category-grid {
	margin-top: 0px;
}

/* ----------------------------------------------------------------
    HOME
---------------------------------------------------------------- */

	.home-content center{
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.behind-text .grid .half{
		text-align: center;
	}
	.behind-text img{
		max-width: 50%;
		text-align: center;
	}
	
	.behind-text .center-content,
	.behind-text {
		min-height: 0;
		height: auto;
	}
	
	.inner-center h3, .inner-center h4{ text-align: center !important; }

	
/* ----------------------------------------------------------------
    FOOTER
---------------------------------------------------------------- */

.templ-webshop .form-search {
margin-top: 10px; /* 60 */
}

.newsletter-holder{ margin: 0 0 25px 0;}

.isotope-item{
	width: 50%;
	min-height: 100px;
	margin: 0 0 25px 0;
}

.footer-column.first {
	padding-right: 0;
}

#mc_embed_signup, .sub-cat{
	text-align: center !important;
}

	#footer .footer-column{ width: 100% !important; }
		#footer .footer-column .quarter{ width: 100% !important; }
			#footer .footer-column .quarter .half{ width: 100% !important; }

			#mc_embed_signup .mc-field-group input[type="email"]{ width: 100% !important; }
			#mc_embed_signup .mc-field-group #mc-embedded-subscribe{ position: relative; width: 100%; right: 0; }
/* ----------------------------------------------------------------
    WEBSHOP FIRST PAGE
---------------------------------------------------------------- */

	.templ-webshop .half, .templ-webshop .quarter{ width: 47.5% !important; }
		.templ-webshop .category-grid .linkimage, .category-grid .item{ max-height: 200px !important; }
		.templ-webshop .category-grid .two-seventh{ width: 100% !important; }
		.templ-webshop .category-grid .two-seventh li{ width: 50% !important; float: left; margin-top: 20px; }
        .category-grid .linkimage a {
            font-size: 14px;
        }
		.templ-webshop .category-grid .two-seventh li.last{ padding-left: 7px; padding-right: 0; }
		.templ-webshop .category-grid ul ul{
			margin-bottom: 20px;
		}
		
		.category-grid .item.seventh{width: 25% !important; margin-bottom: 14px;}
		.category-grid .item.seventh.last{padding: 0 7px;}
	.templ-webshop .half.last, .templ-webshop .quarter:nth-child(2n+2){ float: right !important; }


/* ----------------------------------------------------------------
    WEBSHOP MAIN CAT PAGE
---------------------------------------------------------------- */

.products .product-name {
	padding-top: 10px;
	padding-bottom: 15px;
}

.cat-items-right {
	margin: 0 -7px !important;
}

.woocommerce ul.products li.product .button, .woocommerce-page ul.products li.product .button {
	width: 90%;
	left: 5%;
}

#coupon_code {
font-size: 12px !important;
line-height: 18px !important;
height: auto !important;
padding: 6px 20px !important;
width: 100% !important;
}

#ship-to-different-address-checkbox {
	vertical-align: middle !important;
}


.method {
margin-top: 20px;
}

.addresses p {
text-align: left;
}

.addresses .col-1,
.addresses  .col-2 {
width: 50% !important;
float: left !important;
}

.shop_table.cart {
padding-bottom: 30px;
}

.woocommerce-tabs h2 {
padding-top: 20px;
}

	.col-left.sidebar{
		width: 100%;
	}
		
		.cat-navigation ul, .cat-navigation ul > .sub-cat{
			display: none;
		}

	.col2-left-layout .col-main{
		width: 100%;
		padding: 0 !important;
	}
	
		.col2-left-layout .col-main .inner {
		padding: 0px;
		}

		.woocommerce #main ul.products li.product-category.product{
			width: 47.5%;
		}
	
	.cat-navigation header{
		cursor: pointer;
	}
	.cat-navigation h3{ padding-bottom: 10px; }
	.cat-navigation h3:after{
		content: url(../images/ui/catdrop.gif);
		display: inline-block;
		margin-left: 7px;
		width: 16px;
		height: 16px;
		line-height: 0;
	}

	.archive-product .col-main > .inner{
		padding: 0 !important;
	}

	
	.woocommerce #main ul.products {
	margin: 0 0 20px 0 !important;
	}
	
	.woocommerce #main ul.products li.product {
	margin: 0 0 20px 0 !important;
	}
/* ----------------------------------------------------------------
    WEBSHOP SUB CAT PAGE
---------------------------------------------------------------- */
	
	.woocommerce #main ul.products li.product, #main .woocommerce-page ul.products li.product{ width: 47.5% !important; }
	
	.product-image {
		min-height: 80px;
		margin: 0 0 10px;
	}

/* ----------------------------------------------------------------
    SINGLE PRODUCT
---------------------------------------------------------------- */

.product-holder .images a > img{
	margin: 0px auto;
}

/* ----------------------------------------------------------------
    CART/CHECKOUT
---------------------------------------------------------------- */

.checkout-button{
	width: 40% !important;
	float: left !important;
	text-align: center !important;
	padding: 0 !important;
}

.coupon{ margin-bottom: 25px; }
	.coupon input{ width: 100% !important;}

.cross-sells{ display: none;}

.cart_totals h3{ text-align: left !important; margin-bottom: 15px; }

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
	width: 100% !important;
	text-align: center;
}

.cart_totals{
	font-size: 15px;
	margin-bottom: 35px;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th{
	width: 35% !important;
}



/* ----------------------------------------------------------------
   FOOTER
---------------------------------------------------------------- */

.footer-links.isotope article {
	width: 50% !important;
	float: left !important;
}

.news-holder article.regular {
width: 45%;
}

.news-holder {
margin-left: 0;
}

}

@media only screen and (max-width: 480px) {
	
/* ----------------------------------------------------------------
   	CLASSES
---------------------------------------------------------------- */

/* fonts */
h1, h2, h3, h4, h5, p, .text-center{ text-align: center  !important; }
h1{ font-size: 25px !important; }
h2{ font-size: 20px !important; line-height: 28px;}
h3 { font-size: 18px !important; line-height: 24px; }

.payment_method_bacs ,
h4 {
	font-size: 15px; line-height: 22px;
}

.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
font-size: 15px !important;
}
td p{ text-align: left !important; }

/* divs */
/*	.half{ width: 100% !important; }
	.one-fifth{	width: 100% !important; }
	.five-fifth{ width: 100% !important; }
	.grid{ width: 90%; margin-left: 5%;}

	.text-center{ text-align: left !important; }
	.text-center .button{ text-align: center !important; }*/
	
	.button{ width: 100%; margin-bottom: 15px; }

.three-quarter{ width: 100% !important; padding-right: 0 !important; }
.quarter{ width: 100% !important; }


.grid {
width: 100%;
margin-left: 0;
padding: 0 20px;
}

.woocommerce-cart .grid {
padding: 0 10px;
}
/* ----------------------------------------------------------------
    HOMEPAGE
---------------------------------------------------------------- */

/* HEADER*/
.search-holder {
	padding: 0 25px;
	position: absolute;
}

.search-bar {
margin-top: 10px;
}

.col-left.sidebar {
margin-top: 20px;
}

.flex-direction-nav .flex-next {
right: -25px;
}



.scrolldown {
display: none;
}

#background-container header h2 {
font-size: 16px;
margin-top: 55px;
}

.mob-logo {
	width: 40px;
	max-height: initial !important;
}


#background-container .flex-direction-nav {
display: none;
}

#background-container header{
	margin-bottom: 20px;
}

.form-search{
	margin-bottom: 0;
}

/*
.scrolldown{
	bottom: -30px;
}
*/

	.background-container{
		min-height: 250px;
	}

	.page-list .image-round{
		width: 100%;
		padding-bottom: 100%;
	}

	.mob-logo{
		width: 60px;
		max-height: initial !important;
	}


/* productenholder */
.page-list li{ width: 50% !important; }

/* Behind */

.behind-text{
	min-height: 200px;
}

/* ----------------------------------------------------------------
    WEBSHOP FIRST PAGE
---------------------------------------------------------------- */

.templ-webshop .half, .templ-webshop .quarter{ width:100% !important; }
		.templ-webshop .category-grid .linkimage, .category-grid .item{ height: auto !important; }
		.linkimage a .imageSize{height: 180px !important;}
		.category-grid .item.seventh{width: 50% !important; max-height:210px !important;}
		.category-grid .item.seventh .linkimage{height: 210px !important;max-height:210px !important;}
		.templ-webshop .category-grid ul ul {margin: 14px 0;}

.woocommerce ul.products li.product .button,
.woocommerce-page ul.products li.product .button {
 bottom: 10px;
}

.woocommerce ul.products li.product .button:hover,
.woocommerce-page ul.products li.product .button:hover {
 bottom: 8px;
}


/* ----------------------------------------------------------------
    WEBSHOP CAT PAGE
---------------------------------------------------------------- */
	
	.cart{ width: 100%; }
	.woocommerce-page #content div.product form.cart .button{
	width: 100% !important;
	}

	.woocommerce #main ul.products li.product-category.product{
		width: 100%;
	}
	
	p.price{
		width: 100% !important;
		text-align: center !important;
	}
	.amount{
		width: 100%;
		font-size: 15px;
		text-align: center;
	}
	
	.shop_table .amount {
		width: auto;
		font-size: 13px;
	}

	.woocommerce #main ul.products li.product, #main .woocommerce-page ul.products li.product{ width: 100% !important; margin: 0 0 15px 0 !important; text-align: center; }
	
	.product-holder .images a{ height: auto; }
	.product-holder .images a > img {
		height: auto !important;
	}
/* ----------------------------------------------------------------
    PRODUCT PAGE
---------------------------------------------------------------- */	
.single_add_to_cart_button{
	width: 100%;
}

.quantity{ width: 100% !important; margin: 15px 0 !important; }
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qt{ width: 100% !important;}

.single_variation, .pdf-upload{ text-align: center !important; }

.variations_form{
	margin-top: 15px 0 25px 0 !important;
}

.entry-summary .left{
	width: 100%;
}
/* ----------------------------------------------------------------
    CART/CHECKOUT
---------------------------------------------------------------- */

.product-quantity {
display: none;
}

.customer_details,
.customer_details dt,
.customer_details dd {
text-align: center !important;
}

.addresses .col-1,
.addresses  .col-2 {
width:100% !important;
}

.coupon{
	width: 100% !important;
	float: left !important;
}


.cart .button{
	width: 100% !important;
	float: left !important;
	text-align: center !important;
	padding: 0 !important;
	margin: 5px 0 !important;
}

	.cross-sells{ display: none;}
	
.woocommerce .order_details li, .woocommerce-page .order_details li {
border: none !important;
}

.woocommerce .order_details li, .woocommerce-page .order_details li {
margin-bottom: 15px;
margin-right: 0px !important;
padding: 0 !important;
text-align: center;
width: 100%;
}

.woocommerce .addresses .title h3,
.woocommerce-page .addresses .title h3 {
float: none !important;
}

.addresses p,
.woocommerce .addresses .title h3,
.woocommerce-page .addresses .title h3 {
text-align: center !important;
}


/* ----------------------------------------------------------------
    CONTACTPAGE
---------------------------------------------------------------- */	

.contact-form .three-quarter{
	padding: 0;
}

.contactpage .half{ width: 100% !important; }	 
.contact-form .three-quarter { padding-left: 0 !important; }


/* ----------------------------------------------------------------
    FOOTER
---------------------------------------------------------------- */


.footer-links.isotope article {
width: 100% !important;
}
#mc_embed_signup{ margin-bottom: 65px; }

.isotope-item{
	width: 100%;
	margin: 0 0 25px 0;
	text-align: center;
}

	.mobile-menu-holder .search-bar {
		margin-right: 80px;
	}

	.mobile-menu-holder .search-bar .form-search:after {
		margin-top: -6px;
	}

	.mobile-menu-holder .search-bar .form-search input {
		margin-top: -2px;
	}

}
@media only screen and (max-width: 420px) {

	.search-holder .fc1{
		font-size: 25px;
	}
	
	#background-container .flex-direction-nav a{
		background-size: 200% 100%;
		width: 17px !important;
		height: 30px !important;
	}
	
	.home-products-holder{
		padding-top: 50px;
	}

}

@media only screen and (max-width: 375px) {
	
	.search-holder .fc1{
			font-size: 23px;
		}

}

@media only screen and (max-width: 320px) {
	
		.search-holder{
			max-width: 55%;
			left: 11%;
		}
		
		.search-holder .fc1{
			font-size: 18px;
		}
}