.woocommerce .woocommerce-info::before, .woocommerce-page .woocommerce-info::before{
	padding-top: 0 !important;
	line-height: 1.5em !important;
}

#billing_country_field label, #shipping_country_field label{
	font-weight: 100;
	display: inline-block;
}

#billing_country_field strong, #shipping_country_field strong{
	font-size: 14px;
	margin-left: 10px;
	display: inline-block;
}

label.checkbox  {
	font-size: 16px !important;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info{
	border-radius: 0px 0px 4px 4px !important;
	padding: 1em 1em 1em 3.5em !important;
}

.keurmerk {
	position: relative;
	display: none;
	text-align: center;
	margin: 0 auto 20px;
}

.cat-navigation li a {
	border-top: 1px solid #d9d9d9;
	border-bottom: none;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#page-container ul {
	margin-bottom: 0px;
}

.col2-left-layout .col-main {
	padding-left: 10px;
}

.woocommerce #main ul.products li.product-category.product {
	width: 31.33%;
}

.woocommerce #main ul.products li.product, #main .woocommerce-page ul.products li.product {
	width: 23%;
	margin: 0px;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
}

.woocommerce #main .products ul, .woocommerce #main ul.products, .woocommerce-page #main .products ul, .woocommerce-page #main ul.products {
	margin-bottom: 20px;
	margin-left: -1%;
	margin-right: -1%;
}

.add_to_cart_buttons{
	margin: 10px 0 0 0 !important;
}

.category-name{
	color: #008ca9;
	border-top: 1px solid #d9d9d9;
	padding-top: 5px;
}

.product-name span.small-font {
	display: block;
	clear: left;
	margin: 5px 0;
	display: none;
}

.slider-price {
	float: left;
	width: 100%;
}

.woocommerce-message .wc-forward {
	width: auto !important;
	color: inherit;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 30% !important;
	text-align: right;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th{
	padding: 6px 12px 0 0;
	width: unset !important;
}

.wc-backward{
	padding: 0 15px;
}

.wc-backward:before, .wc-backward a:before {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 7px;
	content: "\e02f";
	font-size: .75em;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before{
	content: "i" !important;
	font-family: Times, Georgia, serif !important;
	font-style: italic;
	width: 1.5em;
	top: 0 !important;
	left: 1em !important;
	text-align: center;
	color: #fff !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{
	clear: unset !important;
}

#add_payment_method .cart-collaterals .shipping-calculator-button::after, .woocommerce-cart .cart-collaterals .shipping-calculator-button::after, .woocommerce-checkout .cart-collaterals .shipping-calculator-button::after {
	content: "\e02e" !important;:
}

.cart-subtotal td {
	width: 55%;
}

.woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before{
	line-height: 0 !important;
	padding-top: 10px !important;
}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
	padding-top: 10px !important;
	line-height: 0 !important;

	content: "\2713";
	height: 1.5em;
	width: 1.5em;
	display: block;
	position: absolute;
	top: 0;
	left: 1em;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 120px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background-clip: padding-box;
	outline: none;
	color: #e10955;
	height: 34px;
	padding: 5px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	margin-bottom: 15px !important;
}

#coupon_code {
width: 120px !important;
}

/* .woocommerce table.shop_table, .woocommerce-page table.shop_table {
	margin-top: 10px !important;
} */

.woocommerce #payment, .woocommerce-page #payment {
	background: none !important;
	border: 1px solid rgba(0,0,0,0.1);
	margin: 0px -1px 24px 0px;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background-clip: padding-box;
	outline: none;
	color: #333;
	font-size: 15px;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding: 5px;
	font-family: 'Source Sans Pro';
	font-weight: 100;
}

.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
	margin: -11px 0 0 2em;
}

.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity {
	margin: 0 !important;
}

.woocommerce .woocommerce-billing-fields {
	margin-bottom: 40px;
}

.woocommerce .checkout h4 {
	margin-bottom: 10px;
}

.col2-left-layout .col-main .button{
	padding-right: 30px !important;
	float: left;
	background-color: unset;
	position: relative;
}
.col2-left-layout .col-main .button:hover{
	background-color: unset;
}
.col2-left-layout .col-main .woocommerce-message .button {
	color: inherit !important;
}
.woocommerce-message .button::after{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: 7px;
	content: "\e029" !important;
	font-size: .75em;
	clear: none !important;
}

.woocommerce table.shop_table th.product-name, .woocommerce-page table.shop_table th.product-name {
	border: none;
}

td.actions {
	padding: 15px 12px 0 12px !important;
}

/* .product-name {
	float: left;
	width: 100%;
} */

#single-product-container, #single-product-container.flexslider .slides > li {
	min-height: 200px;
	max-height: 200px;
	background-position: 50% 25%;
}

.woocommerce .product-detail .woocommerce-breadcrumb, .woocommerce-breadcrumb {
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #e10955 !important;
	font-size: 15px !important;
	font-weight: normal !important;
}

.woocommerce-breadcrumb a {
color: #a0a0a0 !important;
}

.woocommerce .single_variation_wrap {
	float: right;
	display: block !important;
}

.woocommerce .product-detail .woocommerce-breadcrumb a, .woocommerce-page .product-detail .woocommerce-breadcrumb a {
	color: #a0a0a0;
	font-weight: normal;
}

.woocommerce div.product div.images div.thumbnails, .woocommerce #content div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails, .woocommerce-page #content div.product div.images div.thumbnails {
	padding-top: 20px!important;
	margin-left: -10px;
	margin-right: -10px;
}

div.pp_woocommerce .pp_close {
	top: 10px!important;
	right: 10px!important;
}

div.pp_woocommerce div.ppt {
	display: none!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	display: none!important;
}

.woocommerce-tabs h2 {
	color: #e10955;
	font-size: 20px;
	margin-bottom: 20px;
}

.woocommerce table.shop_attributes, .woocommerce-page table.shop_attributes {
	margin-bottom: 0px!important;
}

.summary h1 {
	color: #ea698a;
	font-size: 25px;
	margin-bottom: 20px;
}

p.price {
	color: #39a6d6!important;
	font-weight: bold;
	font-size: 36px!important;
	margin-bottom: 0px!important;
	line-height: 36px;
}

span.price{
	color: #39a6d6!important;
	font-weight: bold;
	font-size: 48px!important;
	margin-bottom: 0px!important;
	line-height: 36px;
	margin-bottom: 20px;
}

.amount{
	font-size: 14px;
}

.single_variation{
	margin-bottom: 20px;
}

.description {
	border-bottom: 1px solid #dddddd;
	color: black;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 22px;
}

.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}

.page-id-27 .area p {
	font-size: 18px;
}

.page-id-27 .woocommerce h2 {
	margin-top: 20px;
	text-align: left;
	color: #008ca9;
}

.page-id-27 .woocommerce h3 {
	text-align: left;
	color: #008ca9;
}

/* PRODUCTPAGE THUMBNAILS */

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	width: 75px !important;
	height: 75px !important;
	margin-right: 10px!important;
	border: 1px solid #dddddd;
	position: relative;
	clear: none !important;
	overflow: hidden;
}

	.thumbnails img {
		position: absolute;
		margin: auto !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 80% !important;
	}

.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart {
	margin-bottom: 0px!important;
	margin-top: 0px;
	float: right;
}

.related h2 {
	color: #25a2db;
	font-size: 24px;
	margin-bottom: 20px;
}

.product-holder {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
}

	.product-holder .images a{
		height: 250px;
		display: block;
	}

		.product-holder .images a > img{
			height: 250px !important;
			width: auto !important;
		}

		div.product div.thumbnails a img{
			height: auto !important;
		}


.maat-holder {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
}

.woocommerce .pdf-upload {
	position: relative;
	clear: left;
	margin-top: 15px;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	margin-bottom: 0px!important;
}

.woocommerce table.shop_attributes td, .woocommerce-page table.shop_attributes td{
line-height: 36px !important;
}

.woocommerce .related, .woocommerce .upsells.products, .woocommerce-page .related, .woocommerce-page .upsells.products {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.product-holder .button {
	width: auto!important;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
	box-shadow: 0 4px #bf3f61;
	background-color: #e10955 !important;
	position: relative;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	border: none;
	outline: none;
	text-transform: uppercase;
	height: 30px;
	border-radius: 3px;
	background-clip: padding-box;
	line-height: 30px;
	-webkit-appearance: none;
	color: #fff;
	line-height: 27px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

.share {
	margin-top: 20px;
}

.addthis_button_facebook_like, .addthis_button_linkedin_counter {
	margin-right: 10px;
}

.addthis_button_tweet {
	width: 90px;
	overflow: hidden;
}

.col-main .inner {
	padding-right: 0px;
}

#header #bottom-header {
/* 	height: 45px; */
}

.category-grid{
	margin-top: -50px;
}

.form-search {
	position: relative;
	float: left;
	width: 100%;
	height: 45px;
	margin-bottom: 20px;
}

.form-search input {
	position: relative;
	width: 100%;
	height: 45px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	outline: none;
	color: #444;
	font-size: 13px;
	font-weight: 300;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-right: 12px;
	padding-left: 10px;
	line-height: 35px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.form-search:after {
	content: "\f002";
	font-family: "polar-icons";
	margin-right: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 45px;
	color: #e10955;
	font-size: 20px;
}

.col-main .inner h1 {
	color: #008ca9;
	margin-bottom: 20px;
	font-size: 36px;
}

.slider-holder li.item {
	padding: 0px;
}

	.slider-holder li.item .inner {
		padding: 25px 25px;
	}

.product-image {
	display: table;
	width: 100%;
	min-height: 140px;
	margin: 0 0 10px;
}

	.product-image .product-image-inner {
		display: table-cell;
		vertical-align: middle;
	}

.woocommerce td.product-name dl.variation dt, .woocommerce-page td.product-name dl.variation dt,
.variation-Kleurhout {
	line-height: 41px;
	font-size: 12px;
}


.woocommerce input.button {
	background-color: #e10955 !important;
	box-shadow: 0 4px #bf3f61;
}

.relatedproducts-winkelwagen {
	margin-top:50px;
	width:100%;
}

.relatedproducts-winkelwagen h2{
	text-align: left;
	color: #008ca9;
}

/*
e000 - Arrow right
f053 - Arrow left
f077 - Arrow up
f078 - Arrow down
f05a - Info
f071 - Alert
f00c - Checkmark
f00d - Delete (remove, X)
f0c9 - Three lines (menu)
f07a - Cart
f09c - Unlocked
f023 - Locked
f0c5 - Compare (duplicate papers)
f044 - Write to square
f041 - Map marker
f002 - Search
f068 - Minus sign
f067 - Plus sign
f004 - Full heart
f08a - Empty heart
f006 - Empty star
f005 - Full star
e001 - Trash can
*/
@font-face {
  font-family: 'polar-icons';
  src: url('../fonts/polar-icons.eot'); /* IE 5-8 */
  src: local('â˜º'),             /* sneakily trick IE */
        url('../fonts/polar-icons.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('../fonts/polar-icons.ttf') format('truetype'), /* Opera, Safari */
        url('../fonts/polar-icons.svg#font') format('svg'); /* iOS */
}

.shipping-calculator-form {
    display: none;
}

.shipping_calculator {
    padding-top: 20px;
}

.shipping_calculator, .shipping_calculator h2, .shipping_calculator h2 a {
    text-align: right;
    font-weight: 300;
}

.woocommerce img, .woocommerce-page img {
	max-height: 100%;
	max-width: 100%;
}