body {
	background-image: url(../../images/ui/gradient-products.png);
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top left;
}

#login {
	padding: 0;
}

.login h1 {
	margin-bottom: 100px;
}

.login h1 a {
	background-image: url(../../images/ui/detol_logo.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 130px;
	height: 193px;
}
